.faq{
    width: 100%;
    background-color: white;
    border-radius: 20px;
    padding: 2em;
}

.faq h1{
    font-weight: 800;
}

.faq>div{
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}